#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.input {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  padding: 0.6em 1.2em;
  border: 1px;
}

.weather-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 2rem;
  align-items: flex-start;
}

.weather-card {
  padding: 1rem;
  border-radius: 8px;
  width: 120px;
  flex: 0 0 auto;
  scroll-snap-align: start;
}

.forecast-scroll {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  padding-bottom: 1rem;
  scroll-snap-type: x mandatory;

  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
  align-self: start;
}

.forecast-scroll::-webkit-scrollbar {
  height: 6px;
}

.forecast-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.8);
  border-radius: 4px;
}

@media (max-width: 768px) {
  .weather-container {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
